@charset "utf-8";
/* CSS Document */

/*1.
Name: Dark Imperial Blue
Hex: #00137C
rgb(0, 19, 124)
CMYK: 1, 0.846, 0, 0.513
2.
Name: Dark Powder Blue
Hex: #003297
rgb(0, 50, 151)
CMYK: 1, 0.668, 0, 0.407
3.
Name: Crayola's Orange-Yellow
Hex: #F8D66A
rgb(248, 214, 106)
CMYK: 0, 0.137, 0.572, 0.027
4.
Name: Maximum Yellow Red
Hex: #EFB749
rgb(239, 183, 73)
CMYK: 0, 0.234, 0.694, 0.062
5.
Name: Indian Yellow
Hex: #E3A54B
rgb(227, 165, 75)
CMYK: 0, 0.273, 0.669, 0.109
6.
Name: Vampire Black
Hex: #0B0B0B
rgb(11, 11, 11)
CMYK: 0, 0, 0, 0.956*/

rgb(0, 19, 124)
rgb(0, 50, 151)
rgb(248, 214, 106)
rgb(239, 183, 73)
rgb(227, 165, 75)
rgb(11, 11, 11)